@model Employee

@{
    ViewData["Title"] = "Редактирование данных о сотруднике";
}

<h2>редактировать данные о сотруднике</h2>

@using (Html.BeginForm())
{
    <h4>Сотрудник</h4>

    @Html.HiddenFor(model => model.Id)

    <p>
        Фамилия <br>
        @Html.EditorFor(model => model.Surname)
    </p>

    <p>
        Имя <br>
        @Html.EditorFor(model => model.Name)
    </p>

    <p>
        Отчество <br>
        @Html.EditorFor(model => model.MiddleName)
    </p>

    <p>
        Телефон <br>
        @Html.EditorFor(model => model.Phone)
    </p>

    <p>
        Должность <br>
        @Html.EditorFor(model => model.Position)
    </p>

    <p>
        <input type="submit" value="Сохранить изменения">
    </p>
}