@using WebApplication1.Helpers
@using WebApplication1.Models.ViewModels
@model EventsViewModel

@{
    ViewData["Title"] = "Отдел кадров";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список мероприятий</h2>

<p>
    @Html.ActionLink("Добавить мероприятие", "Create")
</p>
<table class="table" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events.FirstOrDefault().Unit)
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Unit)
                </td>
                <td>
                    @Html.ActionLink("Удалить", "Remove", new { id = item.Id }) |
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x}))
</div>